body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  display: flex;
  justify-content: space-between;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
  position: fixed;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0px 10px;
}

li {
  display: inline-block;
  margin: 0px 10px;
}

a {
  color: seashell;
}

#logo {
  height: 50px;
  margin: 0px 10px;
}
