body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  display: flex;
  justify-content: space-between;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: black;
  z-index: 1;
}

ul {
  list-style-type: none;
  margin: 0px 10px;
}

li {
  display: inline-block;
  margin: 0px 10px;
}

a {
  color: seashell;
}

.main {
  padding-top: 55px;
  padding-left: 20px;
  padding-right: 20px;
}

.hero {
  background-image: url("../Images/img-mission-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 1200px;
  position: relative;
  margin: 0 auto;
}

.herocopy {
  text-align: center;
  position: absolute;
  background-color: black;
  width: 1200px;
  top: 250px;
}

#logo {
  height: 50px;
  margin: 0px 10px;
}

/* Tea of the Month */

.teacontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.TeaofMonth {
  width: 1000px;
  margin: 0 auto;
}

.teapic {
  height: 200px;
  width: 300px;
}

.teaitem {
  text-align: center;
  margin: 10px;
}

.TeaSectionHeader {
  text-align: center;
}

.locationbackground {
  background-image: url("../Images/img-locations-background.jpg");
  height: 500px;
}

.locationtitle {
  height: 100px;
  padding-top: 50px;
}

.locations {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}

.locationitem {
  background-color: black;
  width: 300px;
  opactiy: 1;
  text-align: center;
}
